.container {
    margin-left: 5em;
    margin-right: 5em;
/*     display: flex;
    flex-wrap: wrap; */
}

.link{

    color: #61dafb;
    margin: 30px;
    font-size: 15px;
}

.link:hover{
    color: white;
}

.title {
    color: white;
}

.cards {
    /* display: flex; */
    justify-content: space-between;
    text-align: center;
    color: white;
}



.card1 {
    min-height: 250px;
    border: 1px white solid;
    padding-inline: 1rem;
    width: 40%;
}